.loginForm {
    width: max-content;
    margin: 20px 10px;
}

.input-group {
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

div.flex {
    display: flex;
}

span.symbol-required {
    font-size: 27px;
    line-height: 27px;
    margin-left: 3px;
    color: red;
}