<div class="container" style="padding-top: 30px">
    <div class="row">
        <label>Текст объявления</label>
        <div class="form-inline row customForm">
            <textarea class="form-control" form="form-step2" rows="4" cols="60" placeholder="Введите текст объявления" name="comment" ng-model="bulletin.comment"></textarea>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <label>Добавление фотографий (макс. кол-во {{maxFiles}})</label>
        <div>
            <button type="button" class="btn btn-success" form="form-step2" ngf-multiple="true" ngf-select="fileAdded($files)" ngf-max-files="{{maxFiles}}" ngf-pattern="'.jpg,.png'" accept=".jpg,.png">Загрузить...</button>
            <div>
                Фотографии:
                <ol>
                    <li ng-repeat="f in files" style="width:20%">{{f.name}}
                        <span class="progress" ng-show="f.progress >= 0" style="color:orange">
                            <div style="width:{{progress}}%; background-color:#5cb85c; color:white; text-align:right; padding-right:10px; border-radius:7px;" ng-bind="progress + '%'"></div>
                        </span>
                </ol>
                {{errorMsg}}
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-success" style="margin-top: 20px" ng-click="saveBulletin()">Отправить объявление</button>
    </div>
</div>